.ui.dimmable.dimmed.segment
  if isLoading
    .ui.simple.dimmer
  .ui.small.fluid.labeled.action.input
    .ui.label Twitch Username
    input(
      type="text"
      value=username
      onChange=onChangeUsername
      onKeyUp=onKey
      autoFocus=true
    )
    a.ui.button.blue(onClick=usernameEntered) OK
  if message
    .ui.message.error= message
